.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.food{
    border: 1px solid red;
    padding: 20px;
    border-radius: 20px;
}
.food img{
    width: 100%;
}